<h1>New</h1>

<%= form_for @jean, url: {action: "create"} do |f| %>

	<%= f.text_field :name, placeholder: "Name" %>

	<%= f.text_field :waist, placeholder: "waist" %>
	
	<%= f.submit "Save Jean" %>

<% end %>